<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>alHost | UPLOADS</title>
    <link rel="stylesheet" href="../static/uploads.css">
</head>
<body>
    <div class="sidebar">
        <h2 class="stitle">alHost</h2><hr class="sep"><br>
        <a href="/" class="link">Anasayfa</a><br><br><br>
        <a href="/kullanici_yukle" class="link">Kullanıcı HTML yükle</a><br><br><br>
        <a href="/upload_css" class="link">Kullanıcı CSS yükle</a><br><br><br>
        <a href="/read_file" class="link">Dosya oku</a><br><br><br>
        <a href="/uploads_css" class="link">CSS Yüklemeler</a><br><br><br>
        <a href="/html_yuklemeler" class="link">HTML Yüklemeler</a>
    </div>
    <h1 class="title">alHost ile hosting</h1><br><br>
    <div class="container">
        <form action="find" method="post" autocomplete="off">
            <input type="text" placeholder="İSİM" required name="name"><br>
            <input type="password" placeholder="ŞİFRE" required name="password"><br><br>
            <button type="submit">BUL</button>
        </form>
    </div>

</body>
</html>